@import './base.css';

#app {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 800px !important;
    background: var(--vt-c-white);
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

p, ul {
    color: #555;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul:not(.no-style) li::before {
    content: "👉";
    margin-right: 10px;
}

a, h2, h3,
.green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
}

@media (hover: hover) {
    a:hover {
        background-color: hsla(160, 100%, 37%, 0.2);
    }
}

@media (min-width: 1024px) {

}
