
 Pour commencer, je suis quelqu'un de passionné par le développement que ce soit web ou mobile.<br /> 
 j'ai à ma connaissance plusieurs technologies/outils comme le html, css(bulma/boostrap/..), php(laravel/Symfony/CodeIgniter/...), javascript(jquery/vue.js/angularJS/...).
 <br /><br />
 j'ai commencé à développer depuis l’année 2015, et depuis je ne cesse de m’améliorer<br />
 Ensuite, je vous pressente mon parcours depuis toutes ces années. 
 <br /><br />
 En 2016, j'ai commencé à développer avec JAVA Desktop et Mobile(Android).<br />
 En 2017, j'ai rejoint une société de développement de logiciel locale et développé diverses solutions de comptabilité et de gestion des plusieurs informations comme matériels, stock, ressources humaines, etc... <br />
 J'ai également travaillé sur des projets web.<br />
 Et en 2018, j'ai débuté en tant que développeur Web Full Stack Freelance sur plusieurs applications web complexes riches en fonctionnalités.
 <br /><br />
 En ce moment, je suis toujours freelancer en tant que Développeur Web Full Stack et Java.
 <br /><br />
 Pour conclure, je peux vous assurer que <span class="text-uppercase">
 	vos projets seront bien réalises
 </span> grâce à mon expérience, ma connaissance et surtout ma persévérance à tout moments.
<br /><br />
A bientôt!<br />
Ladina Sedera ,
<br />
<ul class="list-unstyled">
	<li >
	   => Email &nbsp;&nbsp;: <a href="mailto:ladina.sedera@gmail.com" target="_top" class="text-white">ladina.sedera@gmail.com</a> / <a href="mailto:ladina@fitiavana.mg" target="_top" class="text-white">ladina@fitiavana.mg</a>
	</li>	
	<li>
		=> Phone : <a href="tel:+261 34 11 104 72" class="text-white">+261 34 11 104 72</a>
	</li>
	<li>
	   => Web &nbsp;&nbsp;&nbsp;&nbsp;: <a href="https://ladina.fitiavana.mg" class="text-white"> https://ladina.fitiavana.mg</a>
	</li>
</ul>