<span class="letter" data-letter="-">-</span> 
<span class="letter" data-letter="[">[</span> 
<span class="letter" data-letter="THE">THE</span>
<span class="letter" data-letter="ONLY">ONLY</span> 
<span class="letter" data-letter="WAY">WAY</span> 
<span class="letter" data-letter="TO">TO</span>
<span class="letter" data-letter="DO">DO</span> 
<span class="letter" data-letter="A">A</span> 
<span class="letter" data-letter="GREAT">GREAT</span> 
<span class="letter" data-letter="WORK">WORK</span> 
<span class="letter" data-letter="IS">IS</span> 
<span class="letter" data-letter="LOVE">LOVE</span> 
<span class="letter" data-letter="WHAT">WHAT</span> 
<span class="letter" data-letter="YOU">YOU</span> 
<span class="letter" data-letter="DO">DO</span> 
<span class="letter" data-letter="]">]</span> 
<span class="letter" data-letter="-">-</span> 
                